[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rinme/Desktop/Cheat Engine.lnk]
row=2
col=1

[/home/rinme/Desktop/McOsu.desktop]
row=5
col=0

[/home/rinme/Desktop/Plants vs. Zombies Game of the Year.desktop]
row=0
col=1

[/home/rinme/Desktop/steam.desktop]
row=3
col=0

[/home/rinme/Desktop/NY!.desktop]
row=4
col=0

[/home/rinme/Desktop/Cheat Engine.desktop]
row=1
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/rinme]
row=2
col=0

